<a href="https://colab.research.google.com/github/asouzujoseph/Machine-learning-with-Python/blob/main/shill_bidding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Shill bidding detection**

The dataset was downloaded from UCI machine learning archive. It contains information on shill bidding on ebay.<br>

The description of each feature is shown below:<br>
**Record ID**: Unique identifier of a record in the dataset.<br>
**Auction ID**: Unique identifier of an auction.<br>
**Bidder ID**: Unique identifier of a bidder.<br>
**Bidder Tendency**: A shill bidder participates exclusively in auctions of few sellers rather than a diversified lot. This is a collusive act involving the fraudulent seller and an accomplice.<br>
**Bidding Ratio**: A shill bidder participates more frequently to raise the auction price and attract higher bids from legitimate participants.<br>
**Successive Outbidding**: A shill bidder successively outbids himself even though he is the current winner to increase the price gradually with small consecutive increments.<br>
**Last Bidding**: A shill bidder becomes inactive at the last stage of the auction (more than 90\% of the auction duration) to avoid winning the auction.<br>
**Auction Bids**: Auctions with SB activities tend to have a much higher number of bids than the average of bids in concurrent auctions.<br>
**Auction Starting Price**: a shill bidder usually offers a small starting price to attract legitimate bidders into the auction.<br>
**Early Bidding**: A shill bidder tends to bid pretty early in the auction (less than 25\% of the auction duration) to get the attention of auction users.<br>
**Winning Ratio**: A shill bidder competes in many auctions but hardly wins any auctions.<br>
**Auction Duration**: How long an auction lasted.<br>
**Class**: 0 for normal behaviour bidding; 1 for otherwise. <br>

In [1]:
# === NOTEBOOK & IMPORT SETUP ===
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
from ast import literal_eval
import tensorflow as tf

pd.set_option("display.max_columns", None)
%matplotlib inline

In [2]:
df = pd.read_csv("/content/drive/MyDrive/Shill Bidding Dataset.csv")
df.head()

,Record_ID,Auction_ID,Bidder_ID,Bidder_Tendency,Bidding_Ratio,Successive_Outbidding,Last_Bidding,Auction_Bids,Starting_Price_Average,Early_Bidding,Winning_Ratio,Auction_Duration,Class
0,1,732,_***i,0.200000,0.400000,0.0,0.000028,0.0,0.993593,0.000028,0.666667,5,0
1,2,732,g***r,0.024390,0.200000,0.0,0.013123,0.0,0.993593,0.013123,0.944444,5,0
2,3,732,t***p,0.142857,0.200000,0.0,0.003042,0.0,0.993593,0.003042,1.000000,5,0
3,4,732,7***n,0.100000,0.200000,0.0,0.097477,0.0,0.993593,0.097477,1.000000,5,0
4,5,900,z***z,0.051282,0.222222,0.0,0.001318,0.0,0.000000,0.001242,0.500000,7,0